<main class="main">
    <h1 class="main_titulo">{{titulo}}</h1>
    <div class="main_barra px-2">
        <div class="secciones">
            <a href="#" (click)="mostrarTareasPendientes()">Tareas Pendientes</a>
            <span> | </span>
            <a href="#" (click)="mostrarTareasCompletadas()">Tareas Completadas</a>
        </div>

        <a href="#" class="d-block" id="botonAgregar">
            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="#7A1CAC" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
            </svg>
        </a>
    </div>

    <div class="main_tareas">
        <app-item *ngFor="let t of tareas" 
        [titulo]="t.titulo" 
        [recordatorio]="t.recordatorio" 
        [activa]="t.activa" 
        [id]="t.id"
        (productoEliminado)="traerTareas()"
        (cambioEstadoTarea)="traerTareas()"
        (mostrarInformacionTarea)="verInformacionDeLaTarea($event)"
        (editarTareaInformacion)="editarInformacionDeLaTarea($event)"></app-item>
    </div>
</main>

<div class="formulario" id="formulario">
    
   <form class="formularioTareaNueva" (ngSubmit)="crearTarea()" [formGroup] = "form">
        <h2>Agregar nueva Tarea</h2>
        <a class="botonCerrar" id="botonCerrar">X</a>
        <div>
            <label>Titulo de la tarea</label>
            <input type="text" placeholder="Titulo" formControlName="titulo"> 
            <span class="text-danger" *ngIf="form.get('titulo')?.hasError('required')">
                El campo titulo es <strong>requerido</strong>
            </span>   
        </div>
        
        <div>
            <label>Descripcion</label>
            <textarea class="form-control" rows="3" formControlName="descripcion"></textarea>
            <span class="text-danger" *ngIf="form.get('descripcion')?.hasError('required')">
                El campo descripcion es <strong>requerido</strong>
            </span>  
        </div>
    
        <button [disabled]="form.invalid" class="botonCrear" id="botonCrear">Crear</button>
    
    </form>
</div>


<app-editar-tarea *ngIf="abrirEdicionTarea" [tareaEditar]="tareaEditar" 
(tareaEditadaExitosamente)="actualizarTarea()"
(cerrarEdicionDeTarea)="cerrarEdicionTarea()">
</app-editar-tarea>

<router-outlet (tareaEditadaExitosamente)="traerTareas()"></router-outlet>
